.header-navbar {
  height: 80px;
  background-color: transparent;
}

.navbar-brand h1 {
  margin-left: 15px;
  text-decoration: none;
  font-size: 30px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.nav-item, .nav-item h5 {
  margin: 0 15px 0 0;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.nav-item a {
  padding-top: 0;
}

.project-nav {
  animation: slide-top 2.25s;
}

.blog {
  animation: slide-top 2.5s;
}

.about{
  animation: slide-top 2.75s;
}

@keyframes bounce {
  0%, 50%, 100% {transform: translateY(-15px);}
  25%, 75% {transform: translateY(15px);}
}

@keyframes slide-top {
  0% {transform: translateY(-1000px); opacity: 0;}
  100% {transform: translateY(0); opacity: 1}
}

.intro {
  background-image: url('../Assets/Images/intro.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 650px;
  top: 80px;
  color: white;
  text-shadow: 2px 2px 4px #000000;

}

intro, h2 {
  width: 50%;
  border-bottom: 2px solid #04b163;
  animation: fadeIn 2.25s;
}

.underline {
  height: 40px;
  width: 1px;
  border-bottom:2px solid #04b163;
  animation: increase 2s, fadeIn 2.25s;
  animation-fill-mode: forwards;
}

@keyframes increase {
    100% {
        width: 20%;
    }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.arrow-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.arrow-down {
  height: 40px;
  width: 40px;
  animation: bounce 2s linear 0s infinite normal ;
}

.profile-photo {
  margin-left: 20%;
  z-index: 1;
  position: absolute;
  top: 110%;
}

.main-section {
  padding-top: 50px;
  background-color: #0789b6;
  background-image: url('../Assets/Images/green_background.jpg');
}

.about-me {
  width: 85%;
  padding-top: 200px;
}

.about-me-body {
  margin: 0 6% 0 40%;
  padding: 20px 45px 20px 10rem;
  color: white;
  background-color: #076db1;
}

.about-me-body h3 {
  width: 100%;
  padding-top: 55px;
  text-shadow: 2px 2px 4px #000000;
}

.line {
  width: 85%;
  margin-top: 75px;
  background-color: #2945a7;
}

.projects {
  display: flex;
  justify-content: center;
  margin: 30px;
  color: white;
  padding-top: 30px;
  text-shadow: 5px 4px 8px #000;
}

.jumbo-wrapper > div {
  margin-bottom: 0px;
  padding: 10px;
  background-color: #076db1;
}

.jumbo-wrapper > a {
  margin-right: 20px;
}

.jumbotron {
  height: 620px;
}

.project-tabs {
  width: 100%;
  font-size: 18px;
}

.project-tabs a {
  color: #0f0dff;
  text-shadow: 5px 4px 8px #888888;
}

.project-tabs a:hover{
  color: #de3553;
}

.mediaGroup {
  height: 100%;
  background-color: #076db1;
  padding: 50px 20px 20px 20px;
  color: white;
}

.project-text {
  width: 80%;
  margin: 30px 0 0 55px;
  padding: 10px;
}

.project-text h4 {
  margin-bottom: 20px;
  text-shadow: 5px 4px 8px #000;
}

.project-thumbnail {
  width: 600px;
  height: 500px;
}

@keyframes slide-down {
  from {
    margin-top: -100%;
    height: 300%;
  }

  to {
    margin-top: 0%;
    height: 100%;
  }
}

.inactive-project {
  animation: slide-left 1s;
}

.active-project {
  animation: slide-right 1s;
}

@keyframes slide-left {
  0% {opacity: 1;}
  100% {transform: translateX(-1000px); opacity: 0;}
}

@keyframes slide-right {
  0% {opacity: 0; transform: translateX(-500px);}
  100% {transform: translateX(0); opacity: 1;}
}

.tech-icons svg {
  margin: 20px 20px 20px 0;
  width: 40px;
  height: 40px;
}

.social-icons svg {
  margin: 20px 20px 20px 0;
  width: 40px;
  height: 40px;
}
.social-icons a:last-child {
  color: white;
}

.react-icon {
  background-color: black;
  fill: #61DAFB;
}

.js-icon {
  background-color: black;
  fill: #F7DF1E
}

.html-icon {
  fill: #E34F26;
  background-color: white;
}

.css-icon {
  fill: white;
}

.attribution {
  left: 0;
}
