.header-navbar {
  height: 50px;
  background-color: transparent;
  padding: 0!important;
}

.logo h1 {
  left: 20px;
  padding: 0;
  font-size: 12px;
}

.navbar-brand h1 {
  margin-left: 15px;
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.header-nav {
  margin-top: 55px;
}

.nav-item, .nav-item h5 {
  margin: 0 15px 0 0;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-size: 15px;
}

.project-nav {
  animation: slide-top 2.25s;
}

.blog {
  animation: slide-top 2.5s;
}

.about{
  animation: slide-top 2.75s;
}

@keyframes bounce {
  0%, 50%, 100% {transform: translateY(-15px);}
  25%, 75% {transform: translateY(15px);}
}

@keyframes slide-top {
  0% {transform: translateY(-1000px); opacity: 0;}
  100% {transform: translateY(0); opacity: 1}
}

.intro {
  height: 300px;
  top: 150px;
  background-image: url('../Assets/Images/intro.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.intro h2 {
  font-size: 20px;
  border-bottom: 2px solid #04b163;
  animation: fadeIn 2.25s;
  width: 80%;
}

.underline {
  display: none;
  width: 1px;
  border-bottom: 2px solid #04b163;
  animation: increase 2s, fadeIn 2.25s;
  animation-fill-mode: forwards;
}

@keyframes increase {
    100% {
        width: 20%;
    }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main-section {
  background-image: url('../Assets/Images/green1_background.png');
  background-size: contain;
}

.arrow-wrapper {
  height: 30px;
  width: 30px;
  margin: 0 auto 70px auto;
  padding-top: 20px;
  animation: bounce 2s linear 0s infinite normal ;
}

.profile-photo {
  width: 60%;
  margin: 0 auto 70px auto;
}

.about-me {
  width: 80%;
  padding-top: 60px;
}

.about-me-body {
  margin: 0 auto 50px auto;
  width: 70%;
  color: white;
  background-color: #076db1;
  font-size: 14px;
  padding: 1rem;
}

.about-me-body h3 {
  text-shadow: 2px 2px 4px #000000;
}

.tech-icons svg {
  margin: 20px 20px 20px 0;
  width: 40px;
  height: 40px;
}

.react-icon {
  background-color: black;
  fill: #61DAFB;
}

.js-icon {
  background-color: black;
  fill: #F7DF1E
}

.html-icon {
  fill: #E34F26;
  background-color: white;
}

.css-icon {
  fill: white;
  background-color: #076db1;
}

.line {
  width: 85%;
  background-color: white;
  height: 2px;
}

.project-wrapper {
  flex-wrap: wrap;
}

.projects {
  color: white;
  padding-top: 30px;
  text-shadow: 5px 4px 8px #000;
}

.projects > h3 {
  margin-bottom: 50px;
}

.project-tabs a {
  color: #672f63;
  text-shadow: 5px 4px 8px #888888;
}

.project-tabs a:hover{
  color: #de3553;
}

.jumbotron {
  margin-bottom: 0!important;
  padding-bottom: 0!important;
}

.jumbotron > svg:hover {
  fill: white;
}

.mediaGroup {
  flex-wrap: wrap;
  padding-top: 20px;
  height: 500px;
}

.mediaGroup a {
  display: flex;
  justify-content: center;
}

.laptop {
  width: 90vw;
  height: 64vw;
  z-index: 1;
  position: absolute;
}

.project-thumbnail {
  width: 70vw;
  margin-top: 13px;
  margin-bottom: 50px;
  height: 52vw;
}

.inactive-project {
  animation: slide-left 0.55s;
}

.active-project {
  animation: slide-right 0.55s;
}

@keyframes slide-left {
  0% {opacity: 1;}
  100% {transform: translateX(-1000px); opacity: 0;}
}

@keyframes slide-right {
  0% {opacity: 0; transform: translateX(-500px);}
  100% {transform: translateX(0); opacity: 1;}
}

.nav-arrow {
  margin-top: 10px;
  margin-right: 5%;
}

.nav-arrow button {
  background: none;
  border: none;
}

.project-text {
  height: 230px;
}

.project-text h4 {
  color: white;
  text-shadow: 5px 4px 8px black;
}

.row {
  width: 100%;
}

.social-icons {
  width: 100%;
}

.social-icons svg {
  margin: 0 20px 0 0;
  width: 40px;
  height: 40px;
}

.social-icons a:last-child {
  display: none;
}

@media only screen and (min-width: 450px) and (max-width: 575px) {
  .mediaGroup {
    height: auto;
  }

  .laptop {
    height: 58vw;
  }

  .project-thumbnail {
    height: 48vw;
    margin-top: 20px;
    margin-bottom: 70px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 700px) {
  .logo h1 {
    font-size: 18px;
  }

  .mediaGroup {
    height: auto;
  }

  .mediaGroup a {
    width: 100%;
  }

  .laptop {
    width: 80vw;
    height: 50vw;
  }

  .project-thumbnail {
    width: 62vw;
    height: 42vw;
    margin-top: 20px;
    margin-bottom: 70px;
  }

  .nav-item h5 {
    font-size: 18px;
  }
}

@media only screen and (min-width: 701px) and (max-width: 766px) {
  .nav-item h5 {
    font-size: 18px;
  }

  .logo h1 {
    font-size: 20px;
  }

  .intro h2 {
    width: 45%;
  }

  .underline {
    height: 27px;
  }

  .about-me {
    padding: 30px;
  }

  .about-me-body {
    padding: 2rem;
  }

  .mediaGroup {
    height: auto;
  }

  .mediaGroup a {
    width: 100%;
  }

  .laptop {
    width: 80vw;
    height: 52vw;
  }

  .project-thumbnail {
    width: 62vw;
    height: 42vw;
    margin-top: 27px;
    margin-bottom: 70px;
  }
}

@media only screen and (min-width: 767px) and (max-width: 900px) {
  .logo {
    margin-left: 25px;
    margin-top: 50px;
  }

  .logo h1 {
    font-size: 20px;
  }

  .nav {
    margin-left: auto;
  }

  .nav-item a {
    padding-top: 0;
  }

  .nav-item h5 {
    font-size: 20px;
  }

  .intro h2 {
    font-size: 20px;
    width: 45%;
  }

  .underline {
    height: 27px;
  }

  .arrow-down {
    margin-top: 40px;
    width: 40px;
    height: 40px;
  }

  .profile-photo {
    width: 50%;
  }

  .about-me-body {
    padding: 2rem;
    font-size: 18px;
  }

  .mediaGroup {
    height: auto;
  }

  .mediaGroup a {
    width: 100%;
  }

  .laptop {
    width: 80vw;
    height: 48vw;
  }

  .project-thumbnail {
    width: 62vw;
    height: 40vw;
    margin-top: 30px;
    margin-bottom: 70px;
  }

  .project-text {
    font-size: 20px;
    padding: 1rem;
  }

  .project-text h4 {
    font-size: 28px;
    margin-bottom: 30px;
  }

  .nav-arrow {
    margin-top: 50px;
    margin-left: 20px;
  }
}

@media only screen and (min-width: 901px) and (max-width: 1048px) {
  .logo {
    margin-left: 25px;
    margin-top: 50px;
  }

  .logo h1 {
    font-size: 20px;
  }

  .nav {
    margin-left: auto;
  }

  .nav-item a {
    padding-top: 0;
  }

  .nav-item h5 {
    font-size: 20px;
  }

  .intro {
    height: 450px;
  }

  .intro h2 {
    font-size: 24px;
    border-bottom: 2px solid #04b163;
    animation: fadeIn 2.25s;
    width: 45%;
  }

  .underline {
    display: block;
    height: 32px;
  }

  .arrow-down {
    margin-top: 40px;
    width: 40px;
    height: 40px;
  }

  .profile-photo {
    width: 50%;
  }

  .about-me-body {
    padding: 2rem;
    font-size: 18px;
  }

  .mediaGroup {
    height: auto;
  }

  .mediaGroup a {
    width: 100%;
  }

  .laptop {
    width: 70vw;
    height: 42vw;
  }

  .project-thumbnail {
    width: 57vw;
    height: 350px;
    margin-top: 30px;
    margin-bottom: 70px;
  }

  .project-text {
    font-size: 20px;
    padding: 1rem;
  }

  .project-text h4 {
    font-size: 28px;
    margin-bottom: 30px;
  }

  .nav-arrow{
    margin-top: 50px;
    margin-left: 20px;
  }
}

@media only screen and (min-width: 1049px) and (max-width: 1157px) {
  .logo {
    margin-left: 25px;
    margin-top: 50px;
  }

  .logo h1 {
    font-size: 20px;
  }

  .nav {
    margin-left: auto;
  }

  .nav-item a {
    padding-top: 0;
  }

  .nav-item h5 {
    font-size: 20px;
  }

  .intro {
    height: 450px;
  }

  .intro h2 {
    font-size: 26px;
    border-bottom: 2px solid #04b163;
    animation: fadeIn 2.25s;
    width: 60%;
  }

  .underline {
    display: block;
    height: 32px;
  }

  @keyframes increase {
      100% {
          width: 10%;
      }
  }

  .line {
    background-color: black;
    margin-bottom: 150px;
  }

  .arrow-down {
    margin-top: 40px;
    width: 40px;
    height: 40px;
  }

  .profile-photo {
    width: 50%;
  }

  .about-me {
    width: 50%;
  }

  .about-me-body {
    padding: 2rem;
    font-size: 18px;
    margin-bottom: 150px;
  }

  .mediaGroup {
    height: auto;
  }

  .mediaGroup a {
    width: 100%;
  }

  .projects h3 {
    font-size: 40px;
  }

  .laptop {
    max-width: 58vw;
    height: auto;
  }

  .project-thumbnail {
    max-width: 47vw;
    height: 320px;
    margin-top: 30px;
    margin-bottom: 70px;
  }

  .project-text {
    font-size: 20px;
    padding: 1rem;
  }

  .project-text h4 {
    font-size: 28px;
    margin-bottom: 30px;
  }

  .nav-arrow {
    margin-top: 50px;
    margin-left: 20px;
  }
}

@media only screen and (min-width: 1157px) and (max-width: 1340px) {
  .logo {
    margin-left: 25px;
    margin-top: 50px;
  }

  .logo h1 {
    font-size: 24px;
  }

  .nav {
    margin-left: auto;
  }

  .nav-item a {
    padding-top: 0;
  }

  .nav-item h5 {
    font-size: 24px;
  }

  .intro {
    height: 650px;
  }

  .intro h2 {
    font-size: 36px;
    width: 60%;
  }

  .underline {
    display: block;
    height: 45px;
  }

  @keyframes increase {
      100% {
          width: 10%;
      }
  }

  .line {
    background-color: black;
    margin-bottom: 150px;
  }

  .arrow-down {
    margin-top: 40px;
    width: 50px;
    height: 50px;
  }

  .profile-photo {
    width: 50%;
  }

  .about-me {
    width: 50%;
  }

  .about-me-body {
    padding: 2rem;
    font-size: 18px;
    margin-bottom: 150px;
  }

  .mediaGroup {
    height: auto;
    margin-left: 0;
  }

  .mediaGroup a {
    width: 100%;
  }

  .projects h3 {
    font-size: 40px;
  }

  .laptop {
    width: 58vw;
    height: auto;
  }

  .project-thumbnail {
    width: 47vw;
    height: 30vw;
    margin-top: 30px;
    margin-bottom: 70px;
  }

  .project-text {
    font-size: 20px;
    padding: 1rem;
  }

  .project-text h4 {
    font-size: 28px;
    margin-bottom: 30px;
  }

  .nav-arrow {
    margin-top: 50px;
    margin-left: 20px;
  }
}

@media only screen and (min-width: 1341px) {
  .logo {
    margin-left: 25px;
    margin-top: 50px;
  }

  .logo h1 {
    font-size: 34px;
  }

  .nav {
    margin-left: auto;
  }

  .nav-item a {
    padding-top: 0;
  }

  .nav-item h5 {
    font-size: 30px;
  }

  .intro {
    height: 650px;
  }

  .intro h2 {
    font-size: 36px;
    width: 50%;
  }

  .arrow-down {
    margin-top: 40px;
    width: 50px;
    height: 50px;
  }

  .about-me {
    padding-top: 150px;
    width: 40%;
  }

  .about-me-body h3 {
    font-size: 35px;
  }

  .about-me .profile-photo {
    margin-left: -8%;
    width: 20%;
    z-index: 1;
    position: absolute;
  }

  .line {
    background-color: black;
    margin-bottom: 150px;
  }

  .media {
    width: 130%;
    margin-top: 15%;
    padding-bottom: 10%;
  }

  .about-me-body {
    padding: 2rem;
    font-size: 22px;
    margin-bottom: 150px;
    padding-left: 30%;
    height: 100%;
    margin-right: 10%;
  }

  .tech-icons svg {
    width: 70px;
    height: 70px;
  }

  .underline {
    display: block;
    height: 45px;
  }

  .projects h3 {
    font-size: 40px;
  }

  .jumbo-wrapper{
    width: 100%;
  }

  .mediaGroup {
    height: auto;
    margin-left: 0;
    width: 100%;
    margin-top: 5%;
  }

  .mediaGroup a {
    width: 45%;
  }

  .laptop {
    width: 33vw;
    max-width: 700px;
    height: 25vw;
  }

  .project-thumbnail {
    width: 26vw;
    height: 20vw;
    margin-top: 28px;
    margin-bottom: 70px;
  }

  .project-text {
    font-size: 20px;
    padding: 1rem;
  }

  .project-text h4 {
    font-size: 28px;
    margin-bottom: 30px;
  }

  .footer div {
    height: auto;
  }
}
