.header-navbar {
  height: 80px;
  background-color: transparent;
}

.navbar-brand h1 {
  margin-left: 15px;
  text-decoration: none;
  font-size: 30px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.nav-item, .nav-item h5 {
  margin: 0 15px 0 0;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.nav-item a {
  padding-top: 0;
}

.project-nav {
  animation: slide-top 2.25s;
}

.blog {
  animation: slide-top 2.5s;
}

.about{
  animation: slide-top 2.75s;
}

@keyframes bounce {
  0%, 50%, 100% {transform: translateY(-15px);}
  25%, 75% {transform: translateY(15px);}
}

@keyframes slide-top {
  0% {transform: translateY(-1000px); opacity: 0;}
  100% {transform: translateY(0); opacity: 1}
}

.intro {
  background-image: url('../Assets/Images/intro.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 550px;
  top: 80px;
  color: white;
  text-shadow: 2px 2px 4px #000000;

}

intro, h2 {
  width: 50%;
  border-bottom: 2px solid #04b163;
  animation: fadeIn 2.25s;
}

.underline {
  height: 40px;
  width: 1px;
  border-bottom: 2px solid #04b163;
  animation: increase 2s, fadeIn 2.25s;
  animation-fill-mode: forwards;
}

@keyframes increase {
    100% {
        width: 20%;
    }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.arrow-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.arrow-down {
  height: 40px;
  width: 40px;
  animation: bounce 2s linear 0s infinite normal ;
}

.profile-photo {
  margin-left: 20%;
  z-index: 1;
  position: absolute;
  top: 120%;
}

.main-section {
  padding-top: 50px;
  background-color: #ededed;
  background-image: url('../Assets/Images/green_background.jpg');
  background-size: contain;
}

.about-me {
  width: 85%;
  padding-top: 200px;
}

.about-me-body {
  margin: 0 6% 0 40%;
  padding: 20px 45px 20px 10rem;
  color: white;
  background-color: #076db1;
}

.about-me-body h3 {
  width: 100%;
  padding-top: 55px;
  text-shadow: 2px 2px 4px #000000;
}

.line {
  width: 85%;
  margin-top: 75px;
  background-color: white;
}

.projects {
  display: flex;
  justify-content: center;
  margin: 30px;
  color: white;
  padding-top: 30px;
  text-shadow: 5px 4px 8px #000;
}

.jumbo-wrapper > div {
  margin-bottom: 0px;
  padding: 10px;
  background-color: #cfcfcf;
}

.jumbo-wrapper > a {
  margin-right: 20px;
}

.jumbotron {
  height: 550px;
}

.project-tabs {
  width: 100%;
  font-size: 18px;
}

.project-tabs a {
  color: #672f63;
  text-shadow: 5px 4px 8px #888888;
}

.project-tabs a:hover{
  color: #de3553;
}

.jumbotron > svg:hover {
  fill: white;
}

.mediaGroup {
  height: 100%;
  padding: 50px 20px 20px 20px;
  color: black;
}

.project-text {
  width: 80%;
  margin: 30px 0 0 55px;
  padding: 10px;
}

.project-text h4 {
  margin-bottom: 20px;
  text-shadow: 5px 4px 8px white;
}

.laptop {
  z-index: 1;
  position: absolute;
  width: 650px;
}

.project-thumbnail {
  width: 500px;
  height: 350px;
  margin-left: 75px;
  margin-top: 30px;
}

@keyframes slide-down {
  from {
    margin-top: -100%;
    height: 300%;
  }

  to {
    margin-top: 0%;
    height: 100%;
  }
}

.inactive-project {
  animation: slide-left 0.55s;
}

.active-project {
  animation: slide-right 0.55s;
}

@keyframes slide-left {
  0% {opacity: 1;}
  100% {transform: translateX(-1000px); opacity: 0;}
}

@keyframes slide-right {
  0% {opacity: 0; transform: translateX(-500px);}
  100% {transform: translateX(0); opacity: 1;}
}

.tech-icons svg {
  margin: 20px 20px 20px 0;
  width: 40px;
  height: 40px;
}

.social-icons svg {
  margin: 0 20px 0 0;
  width: 40px;
  height: 40px;
}

.social-icons a {
  text-align: center;
}

.social-icons a:last-child {
  color: white;
}

.react-icon {
  background-color: black;
  fill: #61DAFB;
}

.js-icon {
  background-color: black;
  fill: #F7DF1E
}

.html-icon {
  fill: #E34F26;
  background-color: white;
}

.css-icon {
  fill: white;
  background-color: #076db1;
}

@media only screen and (max-width: 320px) {
  .App-header nav {
    padding: 0;
  }

  .header-navbar {
    padding: 0;
    height: 50px;
  }

  .header-navbar div {
    margin-left: 0!important;
  }

  .header-nav {
    margin: 0;
    margin-top: 30px;
  }

  .navbar-brand h1 {
    margin: 0;
  }

  .logo {
    padding-left: 15px;
  }

  .logo h1 {
    margin: 0;
    padding: 0;
    font-size: 12px;
  }

  .nav-item {
    margin-right: 0;
  }

  .nav-item h5{
    font-size: 14px;
  }

  .nav-item a {
    padding: 5px;
  }

  .main-section {
    padding-top: 50px;
    background-color: #8c8c8c;
  }

  .intro {
    height: 300px;
    top: 150px;
  }

  .intro h2 {
    font-size: 16px;
  }

  .underline {
    display: none;
  }

  .arrow-wrapper {
    display: none;
  }

  .profile-photo {
    width: 60%;
    margin: 50px;
  }

  .media {
    width: 280px;
  }

  .about-me {
    padding: 15% 0 0 0;
    margin-right: 0%;
  }

  .about-me-body {
    margin: 0 0 0 0;
    padding: 10px;
  }

  .tech-icons {
    padding-left: 0px;
  }

  .mediaGroup {
    padding: 0px;
  }

  .profile-photo {
    top: 165%;
    margin-left: 20%;
  }

  .project-wrapper {
    height: auto;
    margin-top: 400px;
  }

  .project-main nav {
    display: none;
  }

  .main-section {
    height: auto;
  }

  .mediaGroup {
    flex-wrap: wrap;
    padding-left: 1%;
    height: 500px;
    margin-top: 20px;
  }

  .jumbo-wrapper {
    height: 500px;
  }

  .jumbotron {
    height: 500px;
  }

  .arrow-left {
    margin-left: 3%;
  }

  .laptop {
    width: 290px;
    height: 200px;
  }

  .project-thumbnail {
    width: 225px;
    margin: 4% 0 0 15%;
    height: 175px;
  }

  .project-text {
    margin: 0 0 0 8%;
    padding: 0;
    height: 230px;
  }

  .footer {
    margin-top: 0;
    height: 50px;
    bottom: 0;
  }

  .social-icons {
    display: flex;
    justify-content: center;
  }

  .social-icons a:last-child {
    color: #007bff;
    font-size: 8px;
    height: 10px;
    margin-left: 17%;
  }

  .social-icons a {
    margin: 0 0 0 0;
    padding-bottom: 2%;
  }

  .row {
    width: 97%;
  }
}

@media only screen and (min-width: 321px) and (max-width: 460px) {
  .nav-item h5{
    font-size: 14px;
  }

  .nav-item a {
    padding: 5px;
  }

  .underline {
    display: none;
  }

  .main-section {
    background-image: none;
  }

  .profile-photo {
    top: 135%;
    margin-left: 15%;
    width: 70%;
  }

  .about-me {
    padding: 15% 0 0 0;
    margin-right: 0%;
  }

  .about-me-body {
    margin: 0 0 0 0;
    padding: 20px;
  }

  .tech-icons {
    display: flex;
    justify-content: center;
  }

  .tech-icons:last-child {
    margin-right: 0;
  }

  .line {
    display: none;
  }

  .project-wrapper {
    height: 575px;
    margin-top: 110%;
  }

  .jumbotron {
    height: 500px;
  }

  .project-main nav {
    display: none;
  }

  .nav-arrow {
    margin-top: 3%;
  }

  .mediaGroup {
    flex-wrap: wrap;
    padding-left: 1%;
    padding-top: 20px;
    height: 500px;
  }

  .laptop {
    width: 92%;
    height: 200px;
  }

  .project-thumbnail {
    width: 81%;
    margin: 4% 0 0 12%;
    height: 175px;
  }

  .project-text {
    margin: 0 0 0 8%;
    padding: 0;
    height: 230px;
  }

  .footer {
    margin-top: 10%;
  }

  .social-icons {
    width: 100%;
  }

  .row {
    color: #007bff;
    font-size: 8px;
    height: 10px;
    margin-left: 25%;
    margin-top: 0;
    width: 97%;
  }

  .row:first-child {
    margin-left: 3%;
  }

  .social-icons a {
    margin: 0 0 1% 2%;
  }

  .social-icons a:last-child {
    display: none;
  }
}

@media only screen and (min-width: 461px) and (max-width: 551px) {
  .nav-item h5{
    font-size: 16px;
  }

  .header-nav {
    margin-top: 20px;
  }

  .header-navbar {
    padding: 0!important;
    width: 97%;
  }

  .header-navbar a {
    margin-right: 0;
  }

  .header-navbar a {
    margin-left: 0!important;
  }

  .nav-item a {
    padding: 5px;
  }

  .underline {
    display: none;
  }

  .mediaGroup {
    flex-wrap: wrap;
    padding-left: 2%;
    padding-top: 20px;
    height: 500px;
  }

  .laptop {
    width: 92%;
    height: 275px;
  }

  .project-wrapper {
    height: 575px;
    margin-top: 105%;
  }

  .jumbotron {
    height: 500px;
  }

  .project-main nav {
    display: none;
  }

  .nav-arrow {
    margin-top: 15%;
  }

  .projects {
    margin-left: auto;
  }

  .project-thumbnail {
    width: 79%;
    margin: 4% 0 0 12%;
    height: 225px;
  }

  .project-text {
    margin: 10% 0 0 8%;
    padding: 0;
    height: 230px;
  }

  .profile-photo {
    top: 255%;
    margin-left: 14%;
    width: 70%;
  }

  .about-me {
    padding: 15% 0 0 0;
    margin-right: 0%;
  }

  .about-me-body {
    margin: 0 0 0 0;
    padding: 20px;
    width: 70%;
  }

  .tech-icons {
    display: flex;
    justify-content: center;
  }

  .tech-icons:last-child {
    margin-right: 0;
  }

  .footer {
    margin-top: 10%;
  }

  .social-icons {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .row {
    color: #007bff;
    font-size: 8px;
    height: 10px;
    margin-left: 22%;
    margin-top: 0;
    width: 97%;
  }

  .social-icons a {
    margin: 0 0 1% 2%;
  }

  .social-icons a:last-child {
    color: #007bff;
    width: 100%;
    margin-top: 0;
    margin-left: 0;
  }
}

@media only screen and (min-width: 552px) and (max-width: 600px) {
  .nav-item h5{
    font-size: 18px;
  }

  .header-nav {
    margin-top: 20px;
  }

  .nav-item a {
    padding: 5px;
  }

  .underline {
    display: none;
  }

  .main-section {
    height: 1550px;
  }

  .mediaGroup {
    flex-wrap: wrap;
    padding-left: 2%;
    padding-top: 20px;
    height: 500px;
  }

  .laptop {
    width: 92%;
    height: 350px;
  }

  .project-wrapper {
    height: 605px;
    margin-top: 90%;
  }

  .jumbotron {
    height: 575px;
  }

  .project-main nav {
    display: none;
  }

  .nav-arrow {
    margin-top: 15%;
  }

  .projects {
    margin-left: auto;
  }

  .project-thumbnail {
    width: 78%;
    margin: 4% 0 0 12%;
    height: 285px;
  }

  .project-text {
    margin: 10% 0 0 8%;
    padding: 0;
    height: 230px;
  }

  .profile-photo {
    top: 255%;
    margin-left: 25%;
    width: 50%;
  }

  .line {
    display: none;
  }

  .about-me {
    padding: 15% 0 0 0;
    margin-right: 0%;
    width: 70%;
  }

  .about-me-body {
    margin: 0 0 0 0;
    padding: 30px;
  }

  .tech-icons {
    display: flex;
    justify-content: center;
  }

  .tech-icons:last-child {
    margin-right: 0;
  }

  .footer {
    margin-top: 10%;
    bottom: 0;
  }

  .social-icons {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .row {
    color: #007bff;
    font-size: 8px;
    height: 10px;
    margin-left: 22%;
    margin-top: 17%;
    flex-wrap: wrap;
  }

  .social-icons a {
    margin: 15% 0 1% 2%;
    padding-top: 0;
  }

  .social-icons a:last-child {
    color: #007bff;
    width: 100%;
    margin-top: 0;
    margin-left: 0;
  }

  .row a:first-child {
    margin-left: 0;
  }

  .row:last-child {
    color: black;
    width: 100%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 680px) {
  .nav-item h5{
    font-size: 18px;
  }

  .header-nav {
    margin-top: 20px;
  }

  .nav-item a {
    padding: 5px;
  }

  .underline {
    display: none;
  }

  .main-section {
    height: 1550px;
  }

  .mediaGroup {
    flex-wrap: wrap;
    padding-left: 2.5%;
    padding-top: 20px;
    height: 500px;
  }

  .laptop {
    width: 92%;
    height: 350px;
  }

  .project-wrapper {
    height: 605px;
    margin-top: 85%;
  }

  .jumbotron {
    height: 575px;
  }

  .project-main nav {
    display: none;
  }

  .nav-arrow {
    margin-top: 15%;
  }

  .projects {
    margin-left: auto;
  }

  .project-thumbnail {
    width: 78%;
    margin: 4% 0 0 12%;
    height: 285px;
  }

  .project-text {
    margin: 10% 0 0 8%;
    padding: 0;
    height: 230px;
  }

  .profile-photo {
    top: 255%;
    margin-left: 25%;
    width: 50%;
  }

  .line {
    display: none;
  }

  .about-me {
    padding: 15% 0 0 0;
    margin-right: 0%;
    width: 70%;
  }

  .about-me-body {
    margin: 0 0 0 0;
    padding: 30px;
  }

  .tech-icons {
    display: flex;
    justify-content: center;
  }

  .tech-icons:last-child {
    margin-right: 0;
  }

  .footer {
    margin-top: 10%;
    bottom: 0;
  }

  .social-icons {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .row {
    color: #007bff;
    font-size: 8px;
    height: 10px;
    margin-left: 22%;
    margin-top: 17%;
    flex-wrap: wrap;
  }

  .social-icons a {
    margin: 15% 0 1% 2%;
    padding-top: 0;
  }

  .social-icons a:last-child {
    color: #007bff;
    width: 100%;
    margin-top: 0;
    margin-left: auto;
  }

  .row a:first-child {
    margin-left: 0;
  }

  .row:last-child {
    color: black;
    width: 90%;
  }
}

@media only screen and (min-width: 681px) and (max-width: 780px) {
  .nav-item h5{
    font-size: 18px;
  }

  .header-nav {
    margin-top: 20px;
  }

  .nav-item a {
    padding: 7px;
  }

  .underline {
    display: none;
  }

  .main-section {
    height: 1550px;
  }

  .mediaGroup {
    flex-wrap: wrap;
    padding-left: 6%;
    padding-top: 20px;
    height: 500px;
  }

  .laptop {
    width: 85%;
    height: 350px;
  }

  .project-wrapper {
    height: 605px;
    margin-top: 85%;
  }

  .jumbotron {
    height: 575px;
  }

  .project-main nav {
    display: none;
  }

  .nav-arrow {
    margin-top: 15%;
  }

  .projects {
    margin-left: auto;
  }

  .project-thumbnail {
    width: 76%;
    margin: 4% 0 0 10%;
    height: 285px;
  }

  .project-text {
    margin: 10% 0 0 8%;
    padding: 0;
    height: 230px;
  }

  .profile-photo {
    top: 255%;
    margin-left: 25%;
    width: 50%;
  }

  .line {
    display: none;
  }

  .about-me {
    padding: 15% 0 0 0;
    margin-right: 0%;
    width: 70%;
  }

  .about-me-body {
    margin: 0 0 0 0;
    padding: 30px;
  }

  .tech-icons {
    display: flex;
    justify-content: center;
  }

  .tech-icons:last-child {
    margin-right: 0;
  }

  .footer {
    margin-top: 10%;
    bottom: 0;
  }

  .social-icons {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .row {
    color: #007bff;
    font-size: 8px;
    height: 10px;
    margin-left: 22%;
    margin-top: 17%;
    flex-wrap: wrap;
  }

  .social-icons a {
    margin: 25% 0 1% 2%;
    padding-top: 0;
  }

  .social-icons a:last-child {
    color: #007bff;
    width: 100%;
    margin-top: 0;
    margin-left: auto;
  }

  .row a:first-child {
    margin-left: 0;
  }

  .row:last-child {
    color: black;
    width: 90%;
  }
}

@media only screen and (min-width: 781px) and (max-width: 880px) {
  .laptop {
    width: 55%;
    height: 350px;
  }
  .project-thumbnail {
    width: 76%;
    margin: 4% 0 0 10%;
    height: 285px;
  }
}
